[Unit]
Description=start GetDataRaw.py
After=multi-user.target

[Service]
Type=idle
User=@MAGNETOMETER_USER@
ExecStart=/usr/bin/python3 @MAGNETOMETER_BASE_PATH@/scripts/GetDataRaw.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
